<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>key</key>
    <string>not_null_key</string>
    <key>null_keys</key>
    <array>
      <string>key1</string>
      <string>key2</string>
    </array>
  </dict>
</plist>
